<!DOCTYPE html>
<html>
  <head>
    <title>InternalApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">

  </head>

  <body>
  <div class="d-flex" id="wrapper">
    <nav class="nav-main__nav" id="sidebar-wrapper">
      <ul class="nav-main">
        <li class="nav-main__home">
          <a class="nav-main__link" href="/">
            <i class="nav-main__icon fa fa-file-text-o"></i>
            <span class="nav-main__label">On Tech</span>
          </a>
        </li>
        <li class="nav-main__item">
          <a class="nav-main__link" href="/">
            <i class="nav-main__icon fa fa-file-text-o"></i>
            <span class="nav-main__label">HOME</span>
          </a>
        </li>
        <li class="nav-main__item">
          <a class="nav-main__link" href="#">
            <i class="nav-main__icon fa fa-file-text-o"></i>
            <span class="nav-main__label">LINK</span>
          </a>
        </li>
      </ul>
    </nav>
    <div id="page-content-wrapper">
      <nav class="navbar navbar-expand-lg navbar-light border-bottom" style="background-color:#efede0;">
        <button class="fas fa-bars fa-2x" id="menu-toggle"></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item">
            <% if @current_user %>
              <%= link_to 'ユーザーリスト', admin_users_path, class: 'btn btn-primary' %>
              <%= link_to 'ログアウト', logout_path, method: :delete, class: 'btn btn-primary' %>
            <% else %>
              <%= link_to 'ログイン', login_path, class: 'btn btn-primary' %>
            <% end %>
            </li>
          </ul>
        </div>
      </nav>
    <%= yield %>
    </div>
    
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script>
      $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
      });
    </script>
  </div>
  </body>
</html>
